{% extends 'firstapp/base.html' %} 
{% load static %}
 
 {% block body %}
     <div class="topheader">
      <div class="container">
        <ul class="menu">
          <li><a href="contact/">about us</a></li>
          <li><a href="contact/">contacts</a></li>
          
        <ul class="kurs">
         <li>1 USD = {{usd_to_sum}}</li>
          <li>1 EUR = {{eur_to_sum}}</li>
          <li>1 RUB = {{rub_to_sum}}</li>
        </ul>
         
        <ul class="social">
          <li>
            <a href="#"><span class="fa fa-facebook-f"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-twitter"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-linkedin"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-telegram"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-google-plus"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../uznews.com"
            ><img src="{% static 'img/logo.png' %}" alt=""
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <i class="fa fa-close"></i>
          </button>
          <ul class="nav navbar-nav">
            <li><a href="../category/economics">economics</a></li>
            <li><a href="../category/politics">politics</a></li>
            <li><a href="../category/community">community</a></li>
            <li><a href="../category/culture">culture</a></li>
            <li><a href="../category/sports">sport</a></li>
            <li><a href="../category/global">world</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <a href="#" class="bigrek"></a>
    <div class="container wrapper">
      <div class="longrek"></div>
      <div class="clearfix"></div>

      <ol class="breadcrumb">
        <li><a href="../../uznews.com">Main</a></li>
        <li class="active">{{ section }}</li>
      </ol>
      <div class="row">
        <div class="col-md-8 col-xs-12">
 
          <div class="cat_title">{{ section }}</div>
          <div class="big_fav pop_cat">
            <div id="bigfav" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">

             {% for object in pubs %}
             {% if forloop.counter <= 1 %}

                <div class="item active">
                  <img src="{{ object.title_photo.url }}" alt="..." />
                  <a href="../view/{{ object.id }}">
                    <div class="carousel-caption">
                      <div class="caption_pos">
                        <div class="type_news">{{ object.section }}</div>

                        <div class="title">
                          {{ object.title }}
                        </div>

                        <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
                      </div>
                    </div>
                  </a>
                </div>

              {% elif forloop.counter <= 4 and forloop.counter > 1 %}

                 <div class="item">
                  <img src="{{ object.title_photo.url }}" alt="..." />
                  <a href="../view/{{ object.id }}">
                    <div class="carousel-caption">
                      <div class="caption_pos">
                        <div class="type_news">{{ object.section }}</div>

                        <div class="title">
                          {{ object.title }}
                        </div>

                        <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
                {% endfor %}
      
              </div>
               
              <div class="control">
                <a
                  class="left carousel-control"
                  href="#bigfav"
                  role="button"
                  data-slide="prev"
                >
                  <i class="fa fa-angle-left"></i>
                </a>
                <a
                  class="right carousel-control"
                  href="#bigfav"
                  role="button"
                  data-slide="next"
                >
                  <i class="fa fa-angle-right"></i>
                </a>
                
              </div>
            </div>
          </div>
          
          <div class="news_box">

          {% for object in pubs %}
          {% if forloop.counter >= 5 and forloop.counter < 10 %}
            <div class="cat_news">
              <div class="cat_img">
                <img src="{{ object.title_photo.url }}" alt="" />
              </div>
              <a href="../view/{{ object.id }}"
                >{{ object.title }}</a
              >
              <p>
                {{ object.paragraph1 }}
              </p>
              <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
              <span class="news_type"
                ><i class="fa fa-pencil"></i>{{ object.section }}</span
              >
            </div>
            {% endif %}
            {% endfor %}


{% if pubs.has_other_pages %}
    <ul class="pagination">
        {% if pubs.has_previous %}
            <li class="waves-effect">
              <a href="/?page={{ pubs.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        
        {% endif %}

        {% for num in pubs.paginator.page_range %}
            {% if pubs.number == num %}
                <li class="active">
                    <a href="#!">{{ num }}</a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if pubs.has_next %}
            <li class="waves-effect">
              <a href="/?page={{ pubs.next_page_number }}">                    
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        {% endif %}
    </ul>
    {% endif %}

          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="head_title">Recent news</div>
          <div
            id="listnews"
            class="carousel slide listnews"
            data-ride="carousel"
          >
            <div class="news_box">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <ul class="list_news">

                {% for object in recent_news %}
                  {% if forloop.counter <= 5 %}
                    <li>
                      <div class="list_img">
                        <img src="{{ object.title_photo.url }}" alt="" />
                      </div>
                      <a href="../view/{{ object.id }}"
                        >{{ object.title }}</a
                      >
                      <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
                      <span class="news_type"
                        ><i class="fa fa-pencil"></i>{{ object.section }}</span
                      >
                    </li>
                    {% endif %}
                {% endfor %}
                  </ul>
                </div>

                <div class="item">
                  <ul class="list_news">
                   {% for object in recent_news %}
                     {% if forloop.counter <= 5 %}
                    <li>
                      <div class="list_img">
                        <img src="{{ object.title_photo.url }}" alt="" />
                      </div>
                      <a href="../view/{{ object.id }}"
                        >{{ object.title }}</a
                      >
                      <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
                      <span class="news_type"
                        ><i class="fa fa-pencil"></i>{{ object.section }}</span
                      >
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="indi_box">
              <ol class="carousel-indicators">
                <li
                  data-target="#listnews"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#listnews" data-slide-to="1"></li>
              </ol>
            </div>
          </div>

          <div class="news_box rek">
            <div class="rek_right"></div>
          </div>
          <div class="subscribe">
            <div class="title">Subscribe to <b>1news.uz</b></div>
            <form action="">
              <div class="input-group">
                <input type="text" name="email" placeholder="Email" />
                <button class="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="foot_about">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            <img src="{% static 'img/logo.png' %}" alt="" class="logo" />
          </div>
                      <div class="col-md-6 col-xs-12">
         <div class="title">About us</div>
            <p>
             The online publication 1news.uz covers the socio-political,
             socio-economic, cultural, sports life of Uzbekistan and
             events taking place in the world.</p>
             </div>
          <div class="col-md-3 col-xs-12 text-right">
            <ul class="social">
              <li>
                <a href="#"><span class="fa fa-facebook-f"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-linkedin"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-telegram"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-google-plus"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <ul class="menu">
          <li><a href="contact/">about us</a></li>
          <li><a href="contact/">contacts</a></li>
        </ul>
        <div class="copyright">© COPYRIGHT 2017 BY <a href="#">md</a></div>
      </div>
    </footer>
 {% endblock %}
</html>
