{% extends 'firstapp/base.html'%}
{% load static %}


{% block body %}
    <div class="topheader">
      <div class="container">
        <ul class="menu">
          <li><a href="contact/">about us</a></li>
          <li><a href="contact/">contacts</a></li>
        </ul>
        <ul class="kurs">
          <li>1 USD = {{usd_to_sum}}</li>
          <li>1 EUR = {{eur_to_sum}}</li>
          <li>1 RUB = {{rub_to_sum}}</li>
        </ul>
         
        <ul class="social">
          <li>
            <a href="#"><span class="fa fa-facebook-f"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-twitter"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-linkedin"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-telegram"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-google-plus"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../uznews.com/"
            ><img src="{% static 'img/logo.png' %}" alt=""
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <i class="fa fa-close"></i>
          </button>
          <ul class="nav navbar-nav">
            <li><a href="../category/economics">economics</a></li>
            <li><a href="../category/politics">politics</a></li>
            <li><a href="../category/community">community</a></li>
            <li><a href="../category/culture">culture</a></li>
            <li><a href="../category/sports">sport</a></li>
            <li><a href="../category/global">world</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <a href="#" class="bigrek"></a>
    <div class="container wrapper">
      <div class="longrek"></div>
      <div class="clearfix"></div>

      <ol class="breadcrumb">
        <li><a href="#">Main</a></li>
        <li class="active">Contacts</li>
      </ol>


      
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <div class="cat_title">Contacts</div>
          <div class="con_info">
            The online publication 1news.uz covers the socio-political,
             socio-economic, cultural, sports life of Uzbekistan and
             events taking place in the world.
          </div>
          <ul class="contact">
            <li>
              <i class="fa fa-map-marker"></i> г. Ташкент, улица Эркинлик, дом
              108
            </li>
            <li><i class="fa fa-print"></i> 0(371) 215-79-79</li>
            <li><i class="fa fa-mobile"></i> 99897 738-14-14</li>
            <li><i class="fa fa-envelope"></i> info@1news.uz</li>
          </ul>
          <div class="feedback">
            <div class="title">Feedback</div>
            <form action="#">
              <input type="text" name="name" placeholder="Your name" />
              <input type="text" name="name" placeholder="Your email" />
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                placeholder="Message"
              ></textarea>
              <button class="btn submit">Send</button>
            </form>
          </div>
        </div>
        <div class="col-md-7 col-xs-12">
          <div class="con_img">
            <img src="{% static 'img/contact.jpg' %}" alt="" />
          </div>
          <div class="map"></div>
        </div>
      </div>
      <div class="foot_rek">
        <img src="{% static 'img/foootrek.jpg' %}" alt="" />
      </div>
    </div>

    <div class="foot_about">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            <img src="{% static 'img/logo.png' %}" alt="" class="logo" />
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="title">About us</div>
            <p>
             The online publication 1news.uz covers the socio-political,
             socio-economic, cultural, sports life of Uzbekistan and
             events taking place in the world.
            </p>
          </div>
          <div class="col-md-3 col-xs-12 text-right">
            <ul class="social">
              <li>
                <a href="#"><span class="fa fa-facebook-f"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-linkedin"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-telegram"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-google-plus"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <ul class="menu">
          <li><a href="contact/">about us</a></li>
          <li><a href="contact/">contacts</a></li>
        </ul>
        <div class="copyright">© COPYRIGHT 2017 BY <a href="#">md</a></div>
      </div>
    </footer>
 {% endblock %}
 
 </html>
