{% extends 'firstapp/base.html' %}
{% load static %}
 
{% block body %}
     <div class="topheader">
      <div class="container">
        <ul class="menu">
          <li><a href="#">О нас</a></li>
          <li><a href="#">редакционная</a></li>
          <li><a href="#">политика</a></li>
          <li><a href="#">контакты</a></li>
        </ul>
        <ul class="kurs">
          <li>1 USD = {{usd_to_sum}}</li>
          <li>1 EUR = {{eur_to_sum}}</li>
          <li>1 RUB = {{rub_to_sum}}</li>
        </ul>
        <ul class="lang">
          <li><a href="">En</a></li>
          <li class="active"><a href="#">Ru</a></li>
          <li><a href="">Uz</a></li>
        </ul>
        <ul class="social">
          <li>
            <a href="#"><span class="fa fa-facebook-f"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-twitter"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-linkedin"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-telegram"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-google-plus"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../uznews.com/"
            ><img src="{% static 'img/logo.png' %}" alt=""
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <i class="fa fa-close"></i>
          </button>
          <ul class="nav navbar-nav">
            <li><a href="../category/economics">экономика</a></li>
            <li><a href="../category/politics">политика</a></li>
            <li><a href="../category/community">общество</a></li>
            <li><a href="../category/culture">культура</a></li>
            <li><a href="../category/sports">спорт</a></li>
            <li><a href="../category/global">в мире</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <a href="#" class="bigrek"></a>
    <div class="container wrapper">
      <div class="longrek"></div>
      <div class="clearfix"></div>

      <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li class="active">Политика</li>
      </ol>
      
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="cat_title">Found {{ num_of_pubs }} results on "{{ request.GET.q }}"</div>

          <div class="search_box">
            <form action="{% url "search" %}"
                  method="get"
                  id="q"
                  type="text">
              <div class="input-group">
                <input type="text" name="q" placeholder="Поиск" required=""/>
                <button class="btn submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>


         <div class="news_box">

        {% for object in pubs %}
          {% if forloop.counter <= 5%}
              <div class="cat_news">

              <div class="cat_img">
                <img src="{{ object.title_photo.url }}" alt="" />
              </div>
              <a href="../view/{{ object.id }}" 
                >{{ object.title }}</a
              >
              <p>
                {{ object.paragraph1 }}
              </p>
              <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
              <span class="news_type"
                ><i class="fa fa-pencil"></i>{{ object.section }}</span >
            </div>
          {% endif %}
        {% endfor %}


{% if pubs.has_other_pages %}
    <ul class="pagination">
        {% if pubs.has_previous %}
            <li class="waves-effect">
              <a href="?page={{ pubs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        
        {% endif %}

        {% for num in pubs.paginator.page_range %}
            {% if pubs.number == num %}
                <li class="active">
                    <a href="#!">{{ num }}</a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if pubs.has_next %}
            <li class="waves-effect">
              <a href="?page={{ pubs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">                    
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        {% endif %}
    </ul>
{% endif %}

          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="head_title">Свежие новости</div>
          <div
            id="listnews"
            class="carousel slide listnews"
            data-ride="carousel"
          >
            <div class="news_box">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <ul class="list_news">

                  {% for object in all_objects %}
                     {% if forloop.counter <= 5%}
                    <li>
                      <div class="list_img">
                        <img src="{{ object.title_photo.url }}" alt="" />
                      </div>
                      <a href="view/{{ object.id }}"
                        >{{ object.title }}</a
                      >
                      <span class="date">{{ object.date_created|date:"m-d-Y" }}</span>
                      <span class="news_type"
                        ><i class="fa fa-pencil"></i>{{ object.section }}</span
                      > 
                    </li>
                    {% endif%}
                  {% endfor %}

                  </ul>
                </div>

                <div class="item">
                  <ul class="list_news">

          {% for object in all_objects %}
              {% if forloop.counter <= 10 and forloop.counter > 5%}
                    <li>
                      <div class="list_img">
                        <img src="{{ object.title_photo.url }}" alt="" />
                      </div>
                      <a href="view/{{ object.id }}"
                        >{{ object.title }}</a
                      >
                      <span class="date">{{ object.date_created|date:"m-d-Y"}}</span>
                      <span class="news_type"
                        ><i class="fa fa-pencil"></i>{{ object.section }}</span
                      >
                    </li>
                {% endif %}
            {% endfor %}

                  </ul>
                </div>
              </div>
            </div>
            <div class="indi_box">
              <ol class="carousel-indicators">
                <li
                  data-target="#listnews"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#listnews" data-slide-to="1"></li>
              </ol>
            </div>
          </div>

          <div class="news_box rek">
            <div class="rek_right"></div>
          </div>
          <div class="subscribe">
            <div class="title">Подписывайся на <b>1news.uz</b></div>
            <form action="">
              <div class="input-group">
                <input type="text" name="email" placeholder="Email" />
                <button class="submit">Подписываться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="foot_about">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            <img src="{% static 'img/logo.png' %}" alt="" class="logo" />
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="title">О нас</div>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec
            </p>
          </div>
          <div class="col-md-3 col-xs-12 text-right">
            <ul class="social">
              <li>
                <a href="#"><span class="fa fa-facebook-f"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-linkedin"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-telegram"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-google-plus"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <ul class="menu">
          <li><a href="#">о нас</a></li>
          <li><a href="#">контакты</a></li>
          <li><a href="#">редакционная</a></li>
          <li><a href="#">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a></li>
          <li><a href="#">СОГЛАШЕНИЕ</a></li>
        </ul>
        <div class="copyright">© COPYRIGHT 2017 BY <a href="#">md</a></div>
      </div>
    </footer>
{% endblock %}

</html>
